/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    font-family: 'Poppins', sans-serif;
}

.login-page{
    background: url('/images/bg-body-login.png') no-repeat center center fixed;
    height: 100%;
}

.container{
    margin-top: 20px;
    padding: 162px 0px;
}

.container-box{
    background-color: white;
    border-radius: 15px;
    margin: 10% 10%;
    padding: 20px;
}

button:hover {
    background-color: #1ACC8D;
}

h5 {
    font-size: 1rem;
}

h6{
    text-align: center;
    margin: 0 auto;
}

.bg-color{
    background-color: #1ACC8D;
}

.form-control{
    height: 60px;
    background-color: rgb(233, 230, 230);
}

.form-group{
    margin-bottom: 0;
}

input:visited{
    border:none;
}

i{
    color: #ffc107;
    transition: color 0.5s;
}

i:hover{
    color: #45a049;
}

.icon-rounded-circle{
    border-radius: 100%;
    border: 2px solid #ffc107;
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 60px;
}
.rounded-avatar-big{
    height: 200px;
    width: 200px;
}

.rounded-avatar-small{
    height: 45px;
    width: 45px;
}
.btn{
    min-width: 140px;
    border:2px solid white; 
    transition: all ease 1s;
    background-size: 300%;
    background-position: 0 0;
    background-color: #ffc107;
}

.btn:hover{
    /* background-image: linear-gradient(to left, #1C4CA3, #235FCD, #1ACC8D,#1ACC8D, #1ACC8D); */
    background-color: #1ACC8D;
}

li a{
    color: #000000;
    transition: color 0.5s;
}

li a:hover{
    color: #ffc107;
}

footer{
    background-color: #45a049;
}

.footer-container{
    padding: 15px;
}

.w-15{
    width: 15%;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

td {
    text-align: center;
}

th {
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

tr:nth-child(even) .form-control{
    background-color: #ffffff;
}

/* class */
.edit-score a:hover {
    text-decoration: none;
}