head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
  link(rel='stylesheet', href='/style/style.css')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap', rel='stylesheet')
  script(src='https://kit.fontawesome.com/e160fe7774.js', crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
  title User profile
header
  nav.navbar.navbar-expand.bg-color
    if isTeacher
      a.navbar-brand(href='/teacher')
        img(src='/images/logo.png', alt='')
    else
      a.navbar-brand(href='/student')
        img(src='/images/logo.png', alt='')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample02', aria-controls='navbarsExample02', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExample02.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/teacher/class')
            h5 Class
        li.nav-item
          a.nav-link(href='/teacher/list')
            h5 Teacher
        li.nav-item
          if isTeacher
            a.nav-link(href='/teacher')
              h5 Profile
          else 
            a.nav-link(href='/student')
              h5 Profile
      ul.navbar-nav.my-2.my-md-0
        li.nav-item.dropdown
          a#navbarDropdownMenuLink-333.nav-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            i.fas.fa-user.fa-2x
          .dropdown-menu.dropdown-menu-right.dropdown-default(aria-labelledby='navbarDropdownMenuLink-333')
            a.dropdown-item(href='#') Profile
            a.dropdown-item(href='http://localhost:3000/auth/logout') Log out
.container
  h2 Class
  .row.d-flex.justify-content-between
    .col-md-3.col-6
      form.d-flex
        select.custom-select.form-group.mr-1
          option(selected='') Grade
          option(value='1') 1
          option(value='2') 2
          option(value='3') 3
        select.custom-select.form-group
          option(selected='') Class
          option(value='1') A
          option(value='2') B
    .col-md-8.col-12
      form.d-flex.justify-content-end.align-items-center
        button.btn.h-75.edit-score
          a(href='/teacher/edit-score') Edit score 
        .form-group
          input.form-control.h-75(type='text', placeholder='Search by name')
        button.btn.btn-search.form-group.h-75(type='submit') Search
  table
    tr
      th Avatar
      th Name
      th Date
      th Class
      th Profile
    each student in students
      tr
        td
          img.mx-auto.img-fluid.rounded-circle.rounded-avatar-small.d-block.avatar(src='/images/wowy.jpg', alt='avatar')
        td= student.name
        td= student.dateOfBirth
        td= student.classes
        td
          a(href='/teacher/student-profile/' + student._id) View profile
      tr
footer
  .container.footer-container.text-white
    h5 School Management System
    div Design by tichambers99/sabo193
